
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');



body {
    background-image: linear-gradient(#00d0ff,#c300ff);
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    background-size: 100%;
    background-repeat: no-repeat;

}

*{
color: #ffffff;

}

h1{
    display: flex;
    justify-content: space-around;
    Margin: 20%;
    text-align: center;
    font-size: 5rem;

}

.starship{
    animation: fly 10s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes fly {
    0%{
        -moz-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1), translateX(0);;
      /*   transform: translateX(0); */
    }

     
  
    

    50%{
        transform: translateX(1400px);
       
    }



    
    100%{
        transform: translateX(0);
    }


  
}


@media screen and (min-width: 0px){
  
    html {
        font-size: 30%;
    }
    

}


@media screen and (min-width: 860px){
  
     html {
         font-size: 50%;
     }
     

 }







@media screen and (min-width: 992px){


html{
    font-size: 100%;
}




}
